@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Global Styles */
:root {
  --primary-color: #4a90e2;
  --dark-color: #1f2532;
  --dark-light-color: #606c78;
  --light-color: #f2f1f1;
  --light2-color: #d8d8d8;
  --danger-color: #e85b0e;
  --success-color: #a0da5e;
  --purple-color: #be93e7;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is (10px) */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background: var(--light-color) url('./images/Background_2.png') no-repeat
    center center / cover;
}

/* Link */
a {
  text-decoration: none;
}
/* btn */

.btn-primary {
  display: inline-block;
  background: var(--primary-color);
  color: var(--dark-color);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 0.6rem 4rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  margin-right: 1rem;
}
.btn-danger {
  display: inline-block;
  background: var(--danger-color);
  color: var(--dark-color);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 0.6rem 4rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  margin-right: 1rem;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar */
.navbar {
  padding: 1rem 0;
  z-index: 1;
  width: 100%;
  border-top: solid 3px var(--primary-color);
  background-color: var(--dark-color);
  opacity: 0.9;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container h1,
.nav-container img {
  margin-left: 0.6rem;
}

.navbar h1 {
  color: var(--light-color);
  font-weight: 700;
}

/* banner top */

.banner__top {
  background-color: var(--light-color);
  padding: 5.4rem 0;
}

.banner__top h1 {
  margin-left: 6rem;
  color: var(--dark-color);
}

/* pokemons grid */

.pokemons-grid {
  display: grid;
  grid-template-columns: repeat(4, 21.6rem);
  justify-content: center;
  column-gap: 13px;
  row-gap: 6rem;
  background-color: var(--light-color);
}

/* pokemon card */

.card {
  width: 21.6rem;
  height: 23.8rem;
  background-color: var(--light2-color);
  border-radius: 6px;
  border-bottom: 5px solid var(--primary-color);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-header {
  display: flex;
}

.card-id {
  font-weight: 300;
}

.card-name {
  margin-left: 0.6rem;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--dark-color);
  letter-spacing: 3px;
  text-decoration: none;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-img {
  /* margin-top: 0.6; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* banner bottom */

.banner__bottom {
  background-color: var(--light-color);
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* grid details */

.grid-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
  justify-content: center;
  margin-top: 20rem;
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light2-color);
}

.pokemon-details h1 {
  text-transform: capitalize;
  letter-spacing: 3px;
  font-weight: 700;
  color: var(--dark-color);
  font-size: 4rem;
}

.pokemon-details h3 {
  background-color: var(--danger-color);
  color: var(--dark-color);
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.pokemon-details span {
  text-transform: uppercase;
  margin-top: 1rem;
}

.pokemon-details h2:first-of-type {
  background-color: var(--success-color);
  color: var(--dark-color);
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.pokemon-details h2:nth-of-type(2) {
  font-weight: 300;
  font-size: large;
  margin-top: 1rem;
}

.pokemon-details h4:first-of-type {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.pokemon-details h4:nth-of-type(2) {
  font-weight: 300;
  text-transform: capitalize;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.pokemon-details img {
  width: 100%;
  height: auto;
}

.header-details {
  height: 4rem;
  background-color: var(--primary-color);
  align-self: stretch;
}
.footer-details {
  height: 4rem;
  background-color: var(--purple-color);
  align-self: stretch;
  margin-top: auto;
}

.body-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* MOBILE SCREEN */

@media (max-width: 944px) {
  .pokemons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    gap: 13px;
  }
}
@media (max-width: 450px) {
  .pokemons-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 13px;
  }

  .grid-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.3rem;
    justify-content: center;
    margin-top: 0;
  }
}
